.project {
  background-color: #f4f4f4;
  font-family: "Lato", sans-serif;
}

.project h1 {
  text-align: center;
  font-weight: bold;
  color: black;
  font-family: "Montserrat", sans-serif;
}

.project h6 {
  text-align: center;
  padding-bottom: 2%;
  color: #f9f7f7;
}

.project-labeltitle {
  color: #000;
  font-weight: bold !important;
  margin: 0 auto !important;
}

.project-subtitle {
  color: #9e9e9e;
  font-weight: lighter !important;
  margin: 0 auto !important;
}

.project-detail {
  color: #000;
  font-weight: bold !important;
}

.project-button {
  margin: 4% 1% auto;
}

.education {
  background-color: #eef0fa;
  font-family: "Montserrat", sans-serif;
}

.education h1 {
  text-align: center;
  padding-bottom: 1%;
}

.sectionTitle {
  padding-top: 5%;
  padding-bottom: 2%;
}

.sectionTitle h6 {
  font-family: "Montserrat", sans-serif;
  color: #969696;
}

.education h3 {
  color: hotpink;
  font-weight: bolder;
}

.education h5 {
  color: #969696;
}

.education-date {
  color: #000;
  font-weight: bolder;
}

.gradient-border {
  --angle: to bottom;
  --border-top-width: 0;
  --border-right-width: 0;
  --border-bottom-width: 0;
  --border-left-width: 0.2em;
  border-width: 0;
  border-style: solid;
  border-top-width: var(--border-top-width);
  border-right-width: var(--border-right-width);
  border-bottom-width: var(--border-bottom-width);
  border-left-width: var(--border-left-width);
  border-image: linear-gradient(var(--angle), #40e0d0, #ff8c00, #ff0080) 1;
}
